.banner_img {
    width: 310px;
    margin: 0 auto;
}

.img_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 10px;
}

.btn_box_out{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn_box {
    width: 310px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn{
    border:none;
    border-radius: 10px;
    background-color: #fff;
    color: #1A434E;
    padding: 5px;
    max-width: 150px;
}